.logo img{
    height: 80px !important;
    width: auto !important;
}

nav{
    justify-content: space-between !important;
    box-shadow: 2px 2px 2px 2px  #f0740f;
}

.bg-nav{
    background-color: #333
}

li a{
    color: whitesmoke;
}

li a:hover{
    color: white;
    font-weight: 500;
}
.navbar-nav{
    margin-right: 100px;
}

.navbar-nav li{
    margin: 0 15px 0 15px;
}