.table-dark{
    background-color: transparent !important;
}

.container h3{
    color: white;
    margin: 30px 0 15px 0;
}

tr >:first-child{
    font-weight: 600;
    margin: 0 500px 0 0;
}

.btn-back:hover{
    background-color: #F0740F;
    border-color: #F0740F;
 }
 .btn-back{
    background-color: #F0640D;
    border-color: #F0640D;
    color: white;
    margin-bottom: 100px;
 }