<div class="container">
 <form action="" style="margin: 50px 0 30px 0;">
        <div class="row">
            <div class="col-lg-8">
            <label for="text">Chercher des films:</label>
            <input type="text" formControlName = "queryControl" class="form-control">
            </div></div>
            
                <button type="button" class="btn btn-light" (click)="query()">Chercher</button>
                           
        
</form>



    <div class="basic-container container container-fluid" *ngIf = "foundMovies">

        <div class="previous-next-top">
          <button type="button" class="btn btn-pre btn-dark" (click)="clickPrevious()" [disabled] = "count == 1">Précédent</button>
          <span>{{foundMovies.page}}</span>
          <button type="button" class="btn btn-nex btn-dark" (click)="clickNext()" [disabled] = "count == 31577">Suivant</button>
        </div>
        <div class="row line">
          <div *ngFor = "let m of foundMovies.results; index as position"
                style="cursor: pointer;"
                (click)="savingPageNumberInSStorage(foundMovies.page)"
                (click)="onClick(m.id)" 
                class="card thumnail col-sm-2 col-lg-3 col-md-4">
            <img class="card-img-bottom" src={{img+m.poster_path}} alt="{{m.original_title}}" style="width:100%">
            <div class="card-body">
              <h6 class="card-title text-left">{{m.original_title}}</h6>
              <a routerLink="movie-detail/+{{m.id}}" class="btn btn-detail btn-warning">Voir le detail</a>
            </div>
          </div>
        </div>
      
        <div class="previous-next-bottom">
          <button type="button" class="btn btn-pre btn-dark" (click)="clickPrevious()" [disabled] = "count == 1">Précédent</button>
          <span>{{foundMovies.page}}</span>
          <button type="button" class="btn btn-nex btn-dark" (click)="clickNext()" [disabled] = "count == foundMovies.total_pages">Suivant</button>
        </div>
        </div>
    
</div>
